@import url("https://fonts.googleapis.com/css?family=ABeeZee:400,400i&display=swap");
@import "./css-reset.scss";
@import "./components/dashboard/dashboard.scss";
@import "./components/task/taskOne/taskOne.scss";
@import "./components/static/landing-page.scss";
@import "./components/task/taskThree/quiz.scss";
@import "./components/profile/profile.scss";
@import "./components/instructions/instructions.scss";
@import "./components/login/Login.scss";
@import "./components/questionnaire/RateQuiz.scss";

body {
  font-family: "ABeeZee", sans-serif;
}

.loading-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}
.slots-container {
  span {
    display: inline-block;
    margin: 0.3rem;
    &.booked {
      span {
        background-color: lightgreen;
      }
    }
  }
  .ant-tag {
    font-size: 1rem;
    padding: 0.25rem;
    cursor: pointer;
  }
}

.ant-table-body {
  overflow: auto;
}
a {
  overflow-wrap: break-word;
}
.green-text {
  color: #52c41a;
}
.orange-text {
  color: #fa8c16;
}
.red-text {
  color: #fa541c;
}
