.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 100%;
}

.btn-container-left {
  margin-left: 2px;
  margin-right: 20px;
}

.btn-container-right {
  margin-left: 20px;
  margin-right: 2px;
}

p.question {
  font-size: 1rem;
  color: #333;
}
.next-prev-container {
  padding: 1rem 0;
}

button + button {
  margin-left: 1rem;
}

.ant-pagination-item.question-answered {
  background:  rgb(85, 158, 85);
  color: #fff;
  border: rgb(94, 255, 94);
}
.ant-pagination-item.question-answered.ant-pagination-item-active{
  background: rgb(55, 199, 55);
  color: #fff;
}
.quiz-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  button {
    margin: 1rem 0;
  }
}