.task-introduction {
    font-size: 1.15rem;
    line-height: 1;
}

.task-heading {
    font-size: 1rem;
}

.instruction-btn {
    text-align: center;

}

.task-introduction-container {
    margin-bottom: 2.5rem;
}