.task-introduction {
    font-size: 1.15rem;
    line-height: 1;
}

.task-heading {
    font-size: 1rem;
}

.instruction-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.task-introduction-container {
    margin-bottom: 2.5rem;
}