<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="<%= cssPath %>"  />
  </head>

  <body>
    <div id="root"></div>
    <script src="<%= jsPath %>" ></script>
  </body>
</html>
