.user-info-btn-container {
  .user-info-btn {
    padding: .2rem .3rem;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    margin: 0 .2rem;
    border-radius: 5px;
    outline: 0;
  }
  .btn-accept {
    &:hover {
      color: rgb(31, 187, 31);
    }
  }
  .btn-reject {
    &:hover {
      color: rgb(255, 42, 42);
    }
  }
}