.display-flex {
    display: flex;
    justify-content: center;
}
.clock-circle {
    padding-left: .4rem;
}
.user-info-container {
    width: 100%;
    height: 20vh;
    border: 1px solid lightgray;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.card-container {
    width: 300px;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}

.padding-top{
    padding-top: 10px;
}
.card-parent-container {
    display: flex;
    justify-content: space-between;
}
