.banner-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.image-wrapper {
    width: 100%;
}

.content-container {

    div {
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    p {
        font-size: 5rem;
    }

    strong {
        font-size: 7rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 2rem;
    border-bottom: 0.03px solid lightgray;
}

.footer__container {
    text-align: center;
    padding: 2rem;
    border-top: 0.03px solid lightgray;
    width: 80%;
    margin: 0 auto;

}