.banner-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.image-wrapper {
    width: 100%;
}

.content-container {

    div {
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

    p {
        font-size: 3rem;
    }

    strong {
        font-size: 5rem;
    }
}