.wrapper {
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  font-size: large;
  color: #fff;
  font-weight: 900;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-details {
    margin-top: auto;
    margin-bottom: 15px;

    .user-details-avatar {
      margin-right: 15px;
    }

    .user-details-name {
      color: white;
    }
  }
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.menu-icon {
  margin-left: 1rem;
}

.button-logout {
  margin-right: 20px;
  margin-top: 15px;
}

.profile-name {
  font-size: 1.2rem;
  margin-left: 82rem;
}