.wrapper {
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  font-size: large;
  color: #fff;
  font-weight: 900;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
