.btn-back {
  margin-bottom: 1rem;
}

.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.userprofile-container {
  margin-top: 10px;
  margin-bottom: 25px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  .ant-card {
    width: 23%;
    margin: 1rem 0;
  }
}
@media all and (max-width: 1100px) {
  .progress-container {
    .ant-card {
      width: 46%;
    }
  }
}

@media all and (max-width: 800px) {
  .progress-container {
    justify-content: center;
    .ant-card {
      width: 90%;
    }
  }
}

.ant-card-cover {
  height: 7rem;
  background-position: center center;
  background-size: cover;
}
.ant-card-html {
  .ant-card-cover {
    background-image: url("/images/HTML.png");
  }
}
.ant-card-codewars {
  .ant-card-cover {
    background-image: url("/images/CodeWars.png");
  }
}
.ant-card-quiz {
  .ant-card-cover {
    background-image: url("/images/Q&A.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
      height: 100%;
      width: auto;
    }
  }
}
.ant-card-interview {
  .ant-card-cover {
    background-image: url("/images/Interview.png");
  }
}

.user-timeline {
  padding: 1rem;
  border: 1px solid lightgrey;
  background: #fff;
  border-radius: 1rem;
  margin: 1rem 0;
  span {
    display: block;
  }
  .timeline-description {
    font-weight: bold;
  }
}
