// Button Styles
.btn {
    padding: 1rem 2rem;
    background: #ef9632;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
    cursor: pointer;

    &:hover {
        background: #ef4534;
    }
}

.btn-primary {
    border: none;
}

// Forms
.form-control {
    display: block;
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #fff;

    &::placeholder {
        font-size: 0.9rem;
    }
}

// Padding
.padding {
    padding: 3rem 0;
}

// Headings
.heading {
    font-size: 1.8rem;
    font-weight: 300;
}

.sub-heading {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.8rem;
    letter-spacing: 0.05rem;
}

// Text
.main-text {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.04rem;
}