.codewars-control {
  padding: 1rem 2rem;
  // border: 1px solid lightgrey;
  border-radius: 2px;
  background: #1790ff4a;
  margin: 1rem 0;
  .timer-container {
    background: transparent;
  }
  .center-text {
    text-align: center;
  }
  .text,
  .red-text {
    font-size: 1rem;
  }
  .timer-container {
    margin-bottom: 2rem;
  }
  .strong-text {
    font-weight: bold;
  }
}
